build/
.coverage
.coverage.*
dist/
**/.DS_Store
dump.rdb
*.egg-info/
.env
env/
.env.local
htmlcov/
.hypothesis/
.idea/
.ipynb_checkpoints/
*.log
.mypy_cache
.mypy_cache/
*.mdb
*.orig
*.pyc
__pycache__
__pycache__/
*.pyo
.pytest_cache/
.ropeproject/
*.sqlite3*
*.swo
*.swp
Thumbs.db
.tox/
.venv/
venv/
.vscode
.vscode/
*.whl
node_modules/
_static/vendor/motion-attestation/
