{% extends "Base.html" %}


{% block title %}

Instructions

{% endblock title %}


{% block main %}

<p>In this study, you will be paired with another participant.</p>

<p>You will each make one private choice: to cooperate or not to cooperate.</p>

<p>There is no opportunity to communicate with the other participant. Neither of you will learn the other's choice until both decisions have been
    submitted. Please make your choice on the next page.</p>

<p>The two decisions jointly determine both your payoff and the other participant’s payoff as follows:</p>

<table class="table">
  <thead class="align-top">
    <tr>
      <th style="width: 30%;"></th>
      <th style="width: 35%;">The other participant cooperates</th>
      <th style="width: 35%;">The other participant does not cooperate</th>
    </tr>
  </thead>
  <tbody class="align-top">
    <tr>
      <th class="ps-0">You cooperate</th>
      <td>
        {{ C.PAYOFF_MATRIX[(True, True)] | fmtnum(places=0, pre="$") }} for you<br>
        {{ C.PAYOFF_MATRIX[(True, True)] | fmtnum(places=0, pre="$") }} for the other participant
      </td>
      <td>
        {{ C.PAYOFF_MATRIX[(True, False)] | fmtnum(places=0, pre="$") }} for you<br>
        {{ C.PAYOFF_MATRIX[(False, True)] | fmtnum(places=0, pre="$") }} for the other participant
      </td>
    </tr>
    <tr>
      <th class="ps-0">You do not cooperate</th>
      <td>
        {{ C.PAYOFF_MATRIX[(False, True)] | fmtnum(places=0, pre="$") }} for you<br>
        {{ C.PAYOFF_MATRIX[(True, False)] | fmtnum(places=0, pre="$") }} for the other participant
      </td>
      <td>
        {{ C.PAYOFF_MATRIX[(False, False)] | fmtnum(places=0, pre="$") }} for you<br>
        {{ C.PAYOFF_MATRIX[(False, False)] | fmtnum(places=0, pre="$") }} for the other participant
      </td>
    </tr>
  </tbody>
</table>

{% endblock main %}
